<div class="action-btns">
    @if (showActionButtons) {
      <button class="save-btn" (click)="saveCounter()" @myInsertRemoveTrigger>Save</button>
      <button class="cancel-btn" (click)="cancelCounter()" @myInsertRemoveTrigger>Cancel</button>
    }
</div>
<div class="clicks">{{ clicks }}</div>
<button class="clicker" (click)="click()">
  <span> Click </span>
</button>

<button class="logout-btn" (click)="logout()">Logout</button>
<!-- <button class="refresh" (click)="refresh()">Refresh Tokens</button> -->
<app-counters-list-sidebar></app-counters-list-sidebar>
